<% provide(:title, 'Advice Portals') %>

<% @questions.each do |question| %>
    <div>Questions: <%=  question.title %></div>
<% end %>

<% @issues.each do |issue| %>
    <div> Issue: <%= issue.title %></div>

<% end %>

<% @tips.each do |tip| %>
    <div> TIp: <%= tip.title %></div>
<% end %>


