<div id="blockers" class="advice_blockers advice_container">
    <h5 class="center">
        Blockers
    </h5>
</div>

<div id="warnings" class="advice_warnings advice_container">
    <h5 class="center">
        Warnings
    </h5>
</div>

<div id="info" class="advice_info advice_container">
    <h5 class="center">
        Tips
    </h5>
</div>