<% provide(:title, "About") %>
<div class="jumbotron" style="border: 1px solid black;">

<h2>About</h2>

The aim of <b>Shepherd Guides</b> is to provide a mechanism for people going through your guide to
    share solutions to various problems that previously each user would have had to hunt down
    individually.
    <br>
    <br>
    Guide creators can use markdown to create their guides, using the special bracket-number syntax -
    for example, [34] - to add "advice nodes". These advice nodes allow people going through the guide
    to help each other through particularly tricky parts of the guide, or to ask questions if they get stuck.
    <br>
    <br>
    Overall, the goal is to prevent people going through your guide from repeating the effort of finding
    the solution to their problems. This service is not intended to replace something like stack overflow. Rather, users
    can link to a an answer <b>in the context in which they have encountered the problem</b>, which
    saves users the effort of having to find the answer on their own every time. For guides where this happens often,
    such as programming documentation or school assignments, a system
    like shepherd guides can be incredibly useful.
</div>