<% provide(:title, "About") %>
<h1>About</h1>
<p>



    Crowdguides was created in 2016 by Philip Weiss, an undergrad at Stanford University
    while he was a summer intern at the Stanford HCI Group.
</p>