<% provide(:title, 'Home') %>

<div class="center jumbotron" id="homepage_jumbo">
    <h1 id="crowdguides_main">Crowdguides</h1>


    <h2>
      <div>
          Using the crowd to improve documentation
      </div>
     <a href="https://xkcd.com/979/">Wisdom of the Ancients</a>
  </h2>

  <%= link_to "Create a new guide", signup_path, class: "btn btn-lg btn-primary" %>
</div>

