// Place all the styles related to the Tidbits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tidbit_whole_wrapper {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fbf8ff;
  padding: 20px;
  display: flex;
}
.tidbit_tidbit_information {
  margin-top: 20px;
  font-size: 10px;
}

.tidbit_title {
  padding-bottom: 10px;
}
