// Place all the styles related to the Tidbits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tidbit_whole_wrapper {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fbf8ff;
  padding: 20px;
  display: flex;
}

.tidbit_index_wrapper {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;

}

.single_tidbit_index_wrapper {
  background-color: #fbf8ff;
  margin: 20px;
  border-radius: 3px;

}

.tidbit_tidbit_information {
  font-size: 10px;
}

.tidbit_title {
  padding-bottom: 10px;
}

.tidbit_title_index {
  padding-bottom: 5px;
}

.very_padded {
  padding: 30px;
}