$(document).ready(function() {
    var renderGuide = function() {
        if ($(this).id === '#content_preview') {}
        var title = '## ' + $("#new_guide_title_edit").val();
        if(title.length < 4) {
            title = "## Please Enter a Title \n";
        }
        title+= '\n';


        var description = '#### ' + $('#new_guide_description_edit').val() + '\n\n';

        description+= ' \n' + " ---------- " +'\n'; // Adds underline if there is a title


        var md_content = '\n' + $("#new_guide_content_edit").val();
        // var re = /(!@)/gi; // Match all instances of [-]

        var re = /(\[\s?\d{1,10}\s?])/gi; // Match all instances of [-]
        var buttonContents = '<ul class="dropdown-menu intro_form_menu"> <li> <li ><a class="intro_form_warnings" href="#">Questions</a></li><li><a class="intro_form_blockers" href="#">Issues</a></li>  <li ><a class="intro_form_tips" href="#">Tips</a></li></ul>';
        var buttonDiv = function(id) {
            id = id.slice(1, -1);
            console.log(id + "??");
            return '<b title="ID: '+ id + '"><div id="'+ id + '" class="dropdown intro_dropdown"><button class="btn btn-xs dropdown-toggle intro_form_button" type="button" data-toggle="dropdown"><span class="caret"></span></button>' + buttonContents + '</span></b>';
        };

        var html_content = title + description + md_content;
        html_content = markdown.toHTML( html_content );
        html_content = html_content.replace(re, buttonDiv);


        $('#modal_body').html(html_content);
        $('#preview_tab').html(html_content);
    };

    // Render specialized markdown on preview button click,
    $(document).on("click", '#content_preview', renderGuide);


});