<div id="warnings" class="advice_warnings advice_container">
    <h5 class="flexible_advice">
        <div id="advice_yellow" class="circular">W</div>
    </h5>
    <h3 class="center"> Warnings </h3>
    

</div>