<div id="blockers" class="advice_blockers advice_container">
    <h5 class="flexible_advice">
        <div id="advice_red" class="circular">B</div>

    </h5>
    <h3 class="center"> Blockers </h3>
</div>