// Place all the styles related to the Guides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guides {
  font-size: 15px;
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #292929;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

#new_guide_title {
  font-weight: bold;
  font-size: 25px;
}

#new_guide_description {
  font-weight: bold;
  font-size: 25px;
}

.new_guide_description_edit {
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;

}

.new_guide_title_edit  {
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;

}

#new_guide_add_space {
  margin-bottom: 20px;
  margin-top: 20px;
}

#new_guide_wrapper {
  border: 1px solid black;
  background: image-url("pattern.svg");

}