<% provide(:title, "New Guide") %>
<div class="row" id="new_guide_wrapper">
    <aside class="col-md-4">
        <section class="guide_form">
            <%= render 'shared/guide_form' %>
        </section>
    </aside>
</div>