<% provide(:title, "New Guide") %>
<div class="container">
    <div class="row" id="new_guide_wrapper">
        <aside class="col-md-6">
            <section class="guide_form">
                <%= render 'shared/simple_guide_creator/guide_form' %>
            </section>
        </aside>
        <aside class="col-md-6">
            <section class="guide_form" style="width: auto">
                    <%= render 'shared/simple_guide_creator/preview_form_dynamic' %>
            </section>
        </aside>
    </div>
</div>