.guide_search_wrapper {
  display:flex;
  align-items: center
}

.guide_search_tiny_font {
  font-size: 10px;
  padding-left: 20px;
}

.guide_search_results_wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
}