.show_guide_wrapper {
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  overflow: hidden;
}

.guide_owner_info {
  margin-top: 30px;
  border: 1px solid black;
  background: image-url('pattern.svg');
  padding: 20px;
  border-radius: 10px;

}