.btn.btn-xs.dropdown-toggle.intro_form_button {
  background-color: white;
  border: 1px solid black;
}

.dropdown-menu.intro_form_menu {
  float:right;
  margin-top: 5px;
  border: 1px solid black;
  background: image-url("pattern.svg");
  max-width:100%;
}

.dropdown-menu > li > .intro_form_blockers:hover {
  background-color: #ff7f82;
  background-image: none;
  border-radius: 2px;
  opacity: 0.8;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.dropdown-menu > li > .intro_form_warnings:hover {
  background-color: #ffee9a;
  background-image: none;
  border-radius: 2px;
  opacity: 0.8;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

}

.dropdown-menu > li > .intro_form_tips:hover {
  background-color: #cffdff;
  background-image: none;
  border-radius: 2px;
  opacity: 0.8;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}