#introduction_box {
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background: image-url("pattern.svg");
}

.introduction_title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.btn.btn-xs.dropdown-toggle.intro_form_button {
  background-color: white;
  border: 1px solid black;
}

.dropdown-menu.intro_form_menu {
  float:right;
  margin-top: 5px;
  border: 1px solid black;
  background: image-url("pattern.svg");
  max-width:100%;
}

.dropdown-menu > li > .intro_form_blockers:hover {
  background-color: #ff7f82;
  background-image: none;
  border-radius: 2px;
  opacity: 0.8;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.dropdown-menu > li > .intro_form_warnings:hover {
  background-color: #ffee9a;
  background-image: none;
  border-radius: 2px;
  opacity: 0.8;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

}

.dropdown-menu > li > .intro_form_tips:hover {
  background-color: #cffdff;
  background-image: none;
  border-radius: 2px;
  opacity: 0.8;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.preview_form {
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
}

.introduction_blocker {
  color: #ff7f82;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.introduction_warning {
  color: #ffee9a;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
.introduction_tip {
  color: #cffdff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.introduction_section {
  color: #c7ffc4;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.introduction_task {
  color: #ffceac;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.introduction_advice {
  color: #ffd1f9;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.introduction_preview {
  color: #cffdff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}