#my_guide {
  white-space: pre-wrap;
}

.guide_form {
  word-wrap: break-word;
}
.preview_form {
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  padding-bottom: 80px;
}

.form_creator_no_scroll {
  overflow-x: hidden;
}

.preview_form_description {
  text-align: left;
  word-wrap: break-word;
  padding: 20px;
}

.preview_form_section {
  text-align: left;
  word-wrap: break-word;
  font-size: 22px;
  padding-left: 20px;
  padding-bottom: 30px;
}


.preview_form_section_task_header {
  font-weight: bold;

}

.preview_form_section_task_title {
  font-size: 14px;
  padding-right: 30px;
  padding-left: 30px;
}

.preview_form_section_task_description {
  padding-left: 20px;
  font-size: 14px;
}

.preview_form_section_task_wrapper {
  padding-top: 10px;
  padding-right: 20px;
  font-size: 14px;

}

.preview_form_section_description {
  font-size: 14px;
}

.modal_colored_background {
  background-color: #f1fff8;
}

.preview_form_padded {
  padding: 5px;
}