.btn.btn-xs.dropdown-toggle.preview_form_button {
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-top: 4px
}

.btn.btn-sm.dropdown-toggle.preview_form_button {
  background-color: white;
  border: 1px solid black;
  margin: 4px
}

.new_section_button {
  margin: 10px;

}