<div class="form_creator_no_scroll">
    <!-- This file is controlled by app/assets/javascripts/new_guide_form/new_sections_and_tasks.js -->

    <%= form_for(@guide) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div>
            <div>
                <%= render 'shared/simple_guide_creator/guide_creator_introduction'%>
            </div>
            <div>
                <div id="new_guide_title">Title:</div>
                <input class="new_guide_title_edit" placeholder="Add a Title...">
            </div>

            <div>
                <div id="new_guide_description">Description:</div>
                <input class="new_guide_description_edit" placeholder="Add a Description...">
            </div>


            <button type="button" class="btn btn-sm btn-success new_section_button" id="new_section_button"> Add Section </button>
            <input name="commit" type="submit" value="Create" class="btn btn-lg btn-primary" />
        </div>
    <% end %>
</div>

