
<div class="container">
    <!-- Trigger the modal with a button -->
    <div class="col-md-6 text-center">
        <button type="button" class="btn btn-info btn-sm intro_button_centered" data-toggle="modal" data-target="#myModal">Click here for instructions!</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content modal_colored_background">
                <div class="modal-header">
                    <h4 class="center">Welcome to the CrowdGuides creator!</h4>
                    <h6 class="center"> Here are some things to know before you get started. </h6>
                </div>
                <div class="modal-body">
                    <ul>
                        <li class="padded">
                            Crowdguides are created using <b><a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a></b>,
                            a language designed to be easy to create with and easy to read.
                        </li>
                        <li class="padded">
                            The aim of Crowdguides is to provide a mechanism for people going through your guide to share
                            solutions to various problems that previously each user would have had to hunt down individually.
                        </li>

                        <li class="padded">
                            Advice Portals can be added by including a 1-10 digit number between two brackets. For example,
                            <b>[68] will turned in to <%= render 'shared/simple_guide_creator/introduction_form_button',locals: {id: 68} %></b>. You can hover
                            over a portal to view its ID.
                        </li>

                        <li class="padded">
                            When a user clicks an Advice Portal <%= render 'shared/simple_guide_creator/introduction_form_button', locals: {id: 1} %>, they are
                            brought to a corresponding page where users can collaborate and post solutions to potential problems.
                        </li>

                        <li class="padded">
                            The number inside of the brackets corresponds to the ID of the Advice Portal. This system allows for multiple portals
                            to direct to the same location, or for portals to be moved around when the guide is edited.
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>

</div>
