<div class="dropdown intro_dropdown">
    <button class="btn btn-xs dropdown-toggle intro_form_button" type="button" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu intro_form_menu">
        <li ><a class="intro_form_blockers" href="#">Blockers: 0</a></li>
        <li ><a class="intro_form_warnings" href="#">Warnings: 0</a></li>
        <li ><a class="intro_form_tips" href="#">Tips: 0</a></li>
    </ul>
</div>

<!-- Single button -->
<!--<span style="display: inline" class="dropdown">-->
    <!--<button class="btn btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
        <!--<span class="caret"></span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
        <!--<li ><a class="intro_form_blockers" href="#">Blockers: 0</a></li>-->
        <!--<li ><a class="intro_form_warnings" href="#">Warnings: 0</a></li>-->
        <!--<li ><a class="intro_form_tips" href="#">Tips: 0</a></li>-->
    <!--</ul>-->
<!--</span>-->