<div class="preview_form" >
    <div class="preview_form_padded">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#preview_tab">Preview</a></li>
            <li><a data-toggle="modal" href="#full_screen_preview"> Full Screen Preview</a></li>

        </ul>

        <div class="tab-content preview_form_padded">
            <div id="preview_tab" class="tab-pane fade in active">
                <h3 class="center"> Click "Preview" to see your guide! </h3>
            </div>

            <!--Modal Window-->
            <div id="full_screen_preview" class="modal fade" role="dialog">
                <div class="modal-dialogue vertical-alignment-helper">
                    <div class="vertical-align-center">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <div class="modal-body" id="modal_body">
                                <h3>Click "Preview" to see your guide!</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>