<div class="dropdown">
    <button class="btn btn-xs dropdown-toggle preview_form_button" type="button" data-toggle="dropdown">
        <span class="caret"></span></button>
    <ul class="dropdown-menu preview_form_menu">
        <li ><a class="preview_form_blockers" href="#">Issues</a></li>
        <li ><a class="preview_form_warnings" href="#">Tips</a></li>
        <li ><a class="preview_form_tips" href="#">Ask a Question</a></li>
    </ul>
</div>