<footer class="footer">
  <small>
    <div>Shepherd Guides</div>
    <div>2016 - Philip Weiss</div>
  </small>
  <div>

  </div>
  <nav>
    <ul id="padded">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://xkcd.com/979/">XKCD</a> </li>

    </ul>
  </nav>
</footer>